* { 
    padding: 0%;
    margin: 0;
}
.container {
    /* width: 50vw; */
    height: 45vw;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#clockContainer {
    height: 40vw;
    width: 40vw;
    background: url(analogue\ clock.jpeg) no-repeat;
    background-size: 100%;
    /* margin: auto; */
    position: relative;
}

#hour, #minutes, #seconds {
    position: absolute;
    background-color: black;
    border-radius: 20%;
    transform-origin: bottom;
}

#hour {
    height: 28%;
    width: 2.5%;
    top: 22%;
    left: 48.6%;
}

#minutes {
    height: 34%;
    width: 1.8%;
    top: 16%;
    left: 48.9%;
    /* display: none; */
}

#seconds {
    height: 38%;
    width: 1.3%;
    top: 12%;
    left: 49.2%;
    /* display: none; */
}