* {
    padding: 0%;
    margin: 0;
}

.container {
    height: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clockContainer {
    height: 40vw;
    width: 40vw;
    background: url(analogue\ clock.jpeg) no-repeat;
    background-size: 100%;
    position: relative;
}

#hour, #minutes, #seconds {
    position: absolute;
    background-color: black;
    border-radius: 20%;
    transform-origin: bottom;
}

#hour {
    height: 28%;
    width: 2.5%;
    top: 22%;
    left: 48.6%;
}

#minutes {
    height: 34%;
    width: 1.8%;
    top: 16%;
    left: 48.9%;
}

#seconds {
    height: 38%;
    width: 1.3%;
    top: 12%;
    left: 49.2%;
}

@media (max-width: 768px) {
    .container {
        height: 80vw; /* Adjust the height for smaller screens */
    }

    #clockContainer {
        height: 70vw;
        width: 70vw;
    }

    #hour {
        height: 20%;
        width: 3%;
        top: 29%;
        left: 49%;
    }

    #minutes {
        height: 26%;
        width: 2%;
        top: 24%;
        left: 48.9%;
    }

    #seconds {
        height: 30%;
        width: 1.5%;
        top: 20%;
        left: 49.2%;
    }
}
